<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.blog.dao.BlogDao">

    <!--新增Blog-->
    <insert id="saveBlog" parameterType="com.github.blog.domain.Blog">
    insert into blog.t_blog (id,title, content, firstPicture, flag,
    view, appreciation, sharestatement, commentTable, published,
    recommend, createtime, updatetime, type_id,tag_ids,description,user_id)
    values (#{id},#{title},#{content},#{firstPicture},#{flag},#{view},#{appreciation},
    #{shareStatement},#{commentTable},#{published},#{recommend},#{createTime},
    #{updateTime},#{type_id},#{tagIds},#{description},#{userId});
    </insert>



    <!--查询文章管理列表多对一配置-->
    <resultMap id="blog" type="com.github.blog.queryvo.BlogQuery">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="updateTime" column="updateTime"/>
        <result property="recommend" column="recommend"/>
        <result property="published" column="published"/>
        <result property="typeId" column="type_id"/>
        <association property="type" javaType="com.github.blog.domain.Type">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <!--查询文章管理列表-->
    <select id="getAllBlogQuery" resultMap="blog">
    select b.id,b.title,b.updateTime,b.recommend,b.published,b.type_id,t.id,t.name
    from blog.t_blog b left outer join
    blog.t_type t on b.type_id = t.id order by b.updateTime desc
    </select>

    <!--根据id查询博客-->
    <select id="getBlogById" resultType="com.github.blog.queryvo.ShowBlog" >
        select b.id,b.published,b.flag,b.title,b.content,b.type_id,
         b.tag_ids,b.firstPicture,b.recommend,b.sharestatement,
         b.appreciation,b.commenttable,b.description from blog.t_blog b  where  b.id = #{id};
    </select>

    <!--删除文章-->
    <delete id="deleteBlog">
        delete from blog.t_blog where id=#{id};
    </delete>

    <!--保存博客和标签的关系-->
    <insert id="saveBlogAndTag" parameterType="com.github.blog.queryvo.BlogAndTag">
        insert into blog.t_blog_tag (tag_id, blog_id) values (#{tagIds},#{blogId});
    </insert>

    <!--编辑修改文章-->
    <update id="updateBlog" parameterType="com.github.blog.queryvo.ShowBlog">
    update blog.t_blog set published = #{published},flag = #{flag} ,
    title = #{title}, content = #{content}, type_id = #{typeId},
    firstPicture = #{firstPicture}  , recommend = #{recommend} ,
    sharestatement = #{shareStatement}, appreciation = #{appreciation},
    commenttable = #{commentTable} ,updatetime = #{updateTime},tag_ids=#{tagIds},description=#{description} where id = #{id};
    </update>

    <!--搜索博客-->
    <select id="findByTittleAndType" parameterType="com.github.blog.queryvo.SearchBlog" resultMap="blog">
        <bind name="pattern" value="'%' + title + '%'"  />
        select b.id,b.title,b.type_id,b.recommend,t.id,t.name from blog.t_blog b ,blog.t_type t
        <where>
            <if test="1 == 1">
                b.type_id = t.id
            </if>
            <if test="typeId != null">
                and b.type_id = #{typeId}
            </if>
            <if test="title != null">
                and b.title like #{pattern}
            </if>
            <if test="recommend != null" >
                and b.recommend = #{recommend}
            </if>
        </where>
    </select>

    <!--首页数据传输类映射-->
    <resultMap id="firstPageBlog" type="com.github.blog.queryvo.FirstPageBlog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="firstPicture" column="firstPicture"/>
        <result property="view" column="view"/>
        <result property="updateTime" column="updatetime"/>
        <result property="description" column="description"/>
        <result property="typeName" column="name"/>
        <result property="nickname" column="nickname"/>
        <result property="avatar" column="avatar"/>
    </resultMap>

    <!--获取首页所有博客-->
    <select id="getFirstPageBlog" resultMap="firstPageBlog">
        select b.id,b.title,b.firstpicture, b.view,b.updatetime,b.description,
        t.name ,
        u.nickname, u.avatar
        from blog.t_blog b, blog.t_type t,blog.t_user u
        where b.type_id = t.id and  u.id = b.user_id order by b.updatetime desc
    </select>

    <!--获取推荐情况-->
    <select id="getAllRecommendBlog" resultType="com.github.blog.queryvo.RecommendBlog">
        select id,title,recommend from blog.t_blog;
    </select>

    <!--博客搜索-->
    <select id="getSearchBlog" resultMap="firstPageBlog">
        <bind name="pattern" value="'%' + query + '%'" />
        select b.id,b.title,b.firstpicture, b.view,b.updatetime,b.description,
        t.name ,
        u.nickname, u.avatar
        from blog.t_blog b, blog.t_type t,blog.t_user u
        where b.type_id = t.id and  u.id = b.user_id and( b.title like #{pattern} or b.content like  #{pattern})
        order by b.updatetime desc
    </select>

    <resultMap id="detailedBlog" type="com.github.blog.queryvo.DetailedBlog">
        <id property="id" column="bid"/>
        <result property="firstPicture" column="firstpicture"/>
        <result property="flag" column="flag"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="view" column="view"/>
        <result property="updateTime" column="updatetime"/>
        <result property="commentTable" column="commentTable"/>
        <result property="shareStatement" column="sharestatement"/>
        <result property="appreciation" column="appreciation"/>
        <result property="nickname" column="nickname"/>
        <result property="avatar" column="avatar"/>
        <collection property="tags" ofType="com.github.blog.domain.Tag">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </collection>
    </resultMap>

    <select id="getDetailedBlog" resultMap="detailedBlog">
        select b.id bid,b.firstpicture,b.flag,b.title,b.content,b.view,b.updatetime,b.commenttable,b.sharestatement,b.appreciation, u.nickname,u.avatar,
        t.id tid ,t.name
        from blog.t_blog b,blog.t_user u,blog.t_tag t,blog.t_blog_tag tb
        where b.user_id = u.id and tb.blog_id = b.id and tb.tag_id = t.id and  b.id = #{id}
    </select>


    <!--文章访问自增-->
    <update id="updateViews" parameterType="com.github.blog.domain.Blog">
    update blog.t_blog b set b.view = b.view+1 where b.id = #{id}
</update>

    <!--查询出文章评论数量并更新-->
    <update id="getCommentCountById" parameterType="com.github.blog.domain.Blog">
    update blog.t_blog b set b.comment_count = (
    select count(*) from blog.t_comment c where c.blog_id = #{id} and b.id = #{id}
    ) WHERE b.id = #{id}
</update>

    <!--根据类型id查询文章-->
    <select id="getByTypeId" resultMap="firstPageBlog">
        select b.id,b.title,b.firstpicture, b.view,b.updatetime,b.description,
        t.name ,
        u.nickname, u.avatar
        from blog.t_blog b, blog.t_type t,blog.t_user u
        where b.type_id = t.id and u.id = b.user_id and b.type_id = #{typeId} order by b.updatetime asc
    </select>
    <!--根据标签id查询文章-->
    <select id="getByTagId" resultType="com.github.blog.queryvo.FirstPageBlog">
        select b.id,b.title,b.firstpicture,b.view,b.updatetime,b.description,
        t.name,
        u.nickname,u.avatar
        from blog.t_blog b,blog.t_type t,blog.t_user u ,blog.t_blog_tag tb,blog.t_tag t1
        where b.type_id = t.id and u.id = b.user_id and tb.blog_id = b.id and tb.tag_id = t1.id and t1.id = #{tagId}
        order by b.updatetime asc
    </select>

    <!--查询所有博客并按时间排序-->
    <select id="findGroupYear" resultType="String">
        select DATE_FORMAT(b.updatetime, '%Y') from blog.t_blog b order by b.updatetime desc
    </select>

    <!--得到特定年份的博客-->
    <select id="findByYear" resultType="com.github.blog.domain.Blog">
        select b.title, b.updatetime, b.id, b.flag
        from blog.t_blog b
        where DATE_FORMAT(b.updatetime, "%Y") = #{year}
    </select>



</mapper>